<div class="row">
  <div class="span8 offset4">
    <%= form_for [:admin, @brand] do |f| %>
      <%= render "shared/errors", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name" %></br>
      <% if @brand.persisted? %>
      <div>
        <%= f.object.file_name %>
        <%= f.check_box :remove_avatar %>
      </div>
      <% end %>
      <%= f.label :avatar %>
      <%= f.attachment_field :avatar, direct: true, presigned: true %></br></br>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>