<%= provide(:title, "All Brands") %>
<h1>Create new brand</h1>
<%= render "form" %>

<ul class="brands">
  <% @brands.each do |brand| %>
    <li>
      <td><%= attachment_image_tag(brand, :avatar) %></td>
      <div>
        <%= link_to brand.name, admin_brand_path(brand) %>
      </div>
      <div>
        <%= link_to "Edit", edit_admin_brand_path(brand) %> |
        <%= link_to "Delete", admin_brand_path(brand), method: :delete,
          data: {confirm: "Are you sure?"} %>
      </div>
    </li>
  <% end %>
</ul>