<div class="row">
  <div class="span8 offset4">
    <%= form_for [:admin, @product] do |f| %>
      <%= render "shared/errors", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "input-xlarge", required: true %></br>
      <%= f.label :description %>
      <%= f.text_area :description, class: "input-xlarge" %></br>
      <%= f.label :price %>
      <%= f.number_field :price, class: "input-xlarge", required: true %></br>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "input-xlarge", required: true %></br>
      <%= f.label :image %>
      <%= f.file_field :image %></br>
      <%= f.label :brand %>
      <%= f.collection_select :brand_id, Brand.all, :id, :name, 
        prompt: "Please pick a brand" %></br>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, 
        prompt: "Please pick a category" %></br>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
