<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>
<div class="center">
  <strong><%= link_to "Edit", edit_admin_product_path(@product) %></strong>
  <strong><%= link_to "Delete", admin_product_path(@product), method: :delete,
    data: {confirm: "Are you sure?"} %></strong>
</div></br>

<table class="table table-bordered table-hover">
  <th>
    <%= link_to @product.brand.name, [:admin, @product.brand] %> >
    <%= link_to @product.category.name, [:admin, @product.category] %> >
    <%= @product.name %>
  </th>
  <th>Specification</th>
  <tr>
    <td>In Stock: <%= @product.quantity %></td>
    <td>Usable for Bikes: <%= @product.bike_types.to_sentence %></td>
  </tr>
  <tr>
    <td>Price: <%= @product.price %></td>
    <td></td>
  </tr>

  <% @product.pictures.each do |picture| %>
    <tr>
      <td><%= attachment_image_tag(picture, :file) %></td>
      <td><%= number_to_human_size(picture.file_size) %></td>
    </tr>
  <% end %>
</table>