<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>
<table class="table table-bordered table-hover">
  <th><%= @product.name %></th>
  <th>Specification</th>
  <tr>
    <td><%= link_to image_tag(@product.image.url(:medium)), 
      @product.image.url(:original), onclick: "window.open(this.href, 'product', 'height=800, width=800');return false;" %>
    </td>
    <td><%= @product.description %></td>
  </tr>
  <tr>
    <td>In Stock: <%= @product.quantity %></td>
    <td></td>
  </tr>
  <tr>
    <td>Price: <%= @product.price %></td>
    <td></td>
  </tr>
</table>